<h1 class="page-title"><%= t "petitions.sign.check_info"%></h1>

<%= form.hidden_field :name %>
<%#TODO: rename uk_citizenship%>
<%= form.hidden_field :uk_citizenship %>
<%= form.hidden_field :postcode %>
<%= form.hidden_field :location_code %>
<%= form.hidden_field :notify_by_email %>

<%= form_row for: [signature, :email] do %>
  <%= form.label :email, (t "generic.email_address"), class: "form-label visuallyhidden" %>
  <%= error_messages_for_field signature, :email %>
  <%= form.text_field :email, type: "email", tabindex: increment, class: "form-control" %>
<% end %>

<%= form.submit (t "petitions.sign.confirm_info"), class: "button", tabindex: increment %>

<p><%= t "petitions.sign.if_wrong_email"%></p>
