<%= form_row for: [signature, :notify_by_email], class: "notify-by-email" do %>
  <div class="multiple-choice">
    <%= form.check_box :notify_by_email, tabindex: increment %>
    <%= form.label :notify_by_email, (t "petitions.sign.email_updates") %>
  </div>
<% end %>
<%= image_tag petition_tracker_path(@petition, @signature.form_token, :gif), size: "0x0" %>
<%= form.submit ( t "generic.continue" ), name: "move:next", class: "button", tabindex: increment %>
<section class="secondary">
  <p><%= t "petitions.sign.all_hidden" %></p>
</section>
