<h1 class="page-title page-title-with-icon">
  <span class="icon icon-email"></span>
  <%= t "signed.one_more_step"%>
</h1>

<p>
  <%= t "signed.confirm_address"%>
</p>

<%= render "notification", message: (t "signed.confirm_required")%>

<details>
  <summary><span class="summary"><%= t "signed.no_confirmation"%></span></summary>

  <div class="panel-indent">
    <p>
      <%= t "signed.if_no_email"%>
    </p>

    <ul class="list-bullet">
      <li><%= t "signed.check_spam"%></li>
      <li><%= t "signed.wait"%></li>
    </ul>
  </div>
</details>
