<p><%= t "mail.because.already_signed", petition: @petition.action %></p>

<p><%= t "mail.view_at", petition: @petition.action %><br />
<%= link_to nil, petition_url(@petition) %></p>

</p><%= t "mail.thanks" %> <br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>
