<p><small><%= t "mail.because.signed" %> “<%= @petition.action %>”.</small></p>
<p><small><%= t "mail.unsubscribe" %> <%= link_to nil, unsubscribe_signature_url(@signature, token: @signature.unsubscribe_token) %></small></p>
<hr>

<p><%= t "mail.greeting" %> <%= @signature.name %>,</p>

<p><%= t "mail.will_debate.signed" %>  “<%= @petition.action %>”.</p>

<p><%= link_to nil, petition_url(@petition) %></p>

<p><%= t "mail.will_debate.scheduled" %> <%= short_date_format(@petition.scheduled_debate_date) %>.</p>

<p><%= t "mail.will_debate.after" %> </p>

<p><%= t "mail.thanks" %> <br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>

<hr>
<p><small><%= t "mail.because.signed" %> “<%= @petition.action %>”.</small></p>
<p><small><%= t "mail.unsubscribe" %> <%= link_to nil, unsubscribe_signature_url(@signature, token: @signature.unsubscribe_token) %></small></p>
