<p><%= t "mail.greeting" %> <%= @signature.name %>,</p>

<p><%= t "mail.rejected.created" %>  “<%= @petition.action %>”.

<%= rejection_description(@rejection.code) %>
<% if @rejection.details? -%>

<p><%= auto_link(h(@rejection.details)) %></p>
<% end -%>
<% unless @petition.hidden? -%>

<p><%= t "mail.rejected.petition_yours" %> <br />
<%= link_to 'View your rejected petition', petition_url(@petition) %></p>
<% end -%>

<p><%= t "mail.rejected.standards" %> <br />
<%= link_to nil, help_url(anchor: 'standards') %></p>

<p><%= t "mail.rejected.try_again" %> <br />
<%= link_to nil, check_petitions_url %></p>

<p><%= t "mail.thanks" %> <br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>
