<p><%= t "mail.greeting" %> <%= @signature.name %>,</p>

<p><%= t "mail.sign_attempt", petition: @petition.action %></p>

<p><%= t "mail.sponsor.click_link" %> </p>

<p><%= link_to nil, verify_signature_url(@signature, token: @signature.perishable_token) %></p>

<p><%= t "mail.thanks" %> <br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>
