<p class="form-hint"><%= t "petitions.example.main"%></p>
<details class="form-group-help">
  <summary><span class="summary"><%= t "petitions.example.show_more"%></span></summary>
  <div class="panel-indent">
    <p><%= t "petitions.example.good"%></p>
    <ul class="list-bullet">
      <li><%= t "petitions.example.good_1"%></li>
      <li><%= t "petitions.example.good_2"%></li>
    </ul>
    <p><%= t "petitions.example.bad"%></p>
    <ul class="list-bullet">
      <li><%= t "petitions.example.bad_1"%></li>
      <li><%= t "petitions.example.bad_2"%></li>
    </ul>
    <p><%= t "petitions.example.explanation"%></p>
  </div>
</details>
