<% if Site.threshold_for_debate != -1 %>
<section class="about-item about-item-count-debate" id="debate-threshold" aria-labelledby="debate-threshold-heading">
  <%# Has debate outcome details #%>
  <% if debate_outcome = petition.debate_outcome? -%>
    <% if debate_outcome.debated? %>
      <h2 id="debate-threshold-heading"><%= t "petitions.debated_petitions.was_debated" %></h2>
      <section class="debate-outcome">
        <p class="secondary"><%= t "petitions.debated_petitions.was_debated_on", date: short_date_format(debate_outcome.debated_on) %></p>
        <% if debate_outcome.video_url? -%>
          <%= link_to debate_outcome.video_url, rel: 'external' do %>
            <span class="debate-video graphic graphic-house-of-commons" aria-hidden>
              <%= debate_outcome_image(debate_outcome) %>
              <span class="play-button icon icon-play-white" aria-hidden></span>
            </span>
          <% end -%>
        <% end -%>

        <% if debate_outcome_links?(debate_outcome) %>
          <ul class="debate-outcome-links">
            <% debate_outcome_links(debate_outcome).each do |link| %>
              <li><%= link_to link.title, link.url, rel: 'external' %></li>
            <% end %>
          </ul>
        <% end %>

        <% if debate_outcome.overview? -%>
          <%= auto_link(simple_format(h(debate_outcome.overview)), html: { rel: 'nofollow' }) %>
        <% end -%>
      </section>
    <% else %>
      <h2 id="debate-threshold-heading"><%= t "petitions.debated_petitions.no_debate" %></h2>
      <% if debate_outcome.overview? -%>
        <%= auto_link(simple_format(h(debate_outcome.overview)), html: { rel: 'nofollow' }) %>
      <% end -%>
    <% end %>
  <%# Has a debate date #%>
  <% elsif petition.scheduled_debate_date? -%>

    <%# Waiting for a debate outcome #%>
    <% if petition.scheduled_debate_date.past? %>
      <h2 id="debate-threshold-heading"><%= t "petitions.debated_petitions.was_debated" %></h2>
      <p class="about-item-scheduled-debate-date">
        <%= t "petitions.debated_petitions.was_debated_on", date: short_date_format(@petition.scheduled_debate_date) %>
      </p>
      <p>
        <%= t "petitions.debated_petitions.watch_at_html"%>
      </p>
      <p class="secondary"><%= t "petitions.debated_petitions.result_publication", duration: waiting_for_in_words(@petition.scheduled_debate_date) %></p>

    <%# Debate is still to come #%>
    <% else %>
      <h2 id="debate-threshold-heading"><%= t "petitions.debated_petitions.will_debate" %></h2>
      <p class="about-item-scheduled-debate-date">
        <%= t "petitions.debated_petitions.will_debate_on", date: short_date_format(@petition.scheduled_debate_date) %>
      </p>
      <p>
        <%= t "petitions.debated_petitions.watch_online_html" %>
      </p>
    <% end %>

  <%# Waiting for a government response #%>
  <% elsif petition.debate_threshold_reached_at? -%>
    <h2 id="debate-threshold-heading"><%= t "petitions.debated_petitions.will_consider_debate" %></h2>
    <p><%= t "petitions.debated_petitions.consider_threshold", threshold: @parliament.formatted_threshold_for_debate %></p>
    <p class="secondary"><%= t "petitions.debated_petitions.waiting_debate_date", duration: waiting_for_in_words(@petition.debate_threshold_reached_at) %></p>

  <%# Needs more signatures #%>
  <% else -%>
    <% if !@petition.closed? %>
      <h2 id="debate-threshold-heading"><%= t "petitions.debated_petitions.at_threshold", threshold: Site.formatted_threshold_for_debate %></h2>
      <p><%= t "petitions.debated_petitions.if_at_threshold", threshold: @parliament.formatted_threshold_for_debate %></p>
    <% end %>
  <% end -%>
</section>
<% end %>
