<%= cache_for :petition do %>
  <h1>
    <span class="heading-secondary"><%= t "rejected.heading"%></span>
    <%= petition.action %>
  </h1>

  <div><%= auto_link(simple_format(h(petition.background)), html: { rel: 'nofollow' }) %></div>
  <% unless petition.additional_details.blank? %>
    <details>
      <summary><span class="summary"><%= t "rejected.details"%></span></summary>
      <div><%= auto_link(simple_format(h(petition.additional_details)), html: { rel: 'nofollow' }) %></div>
    </details>
  <% end %>

  <p class="flash-notice"><%= t "rejected.was_rejected"%></p>

  <h2><%= t "rejected.reason"%></h2>
  <%= rejection_description(petition.rejection.code) %>
  <% if petition.rejection.details? %>
    <p><%= auto_link(simple_format(petition.rejection.details)) %></p>
  <% end %>
  <p><%= t "rejected.explanation_html", href: (link_to (t "rejected.standards"), help_url(anchor: 'standards')) %></p>

  <ul class="petition-meta">
    <li>
      <span class="label"><%= t "rejected.date_submitted"%></span> <%= short_date_format petition.created_at %>
    </li>
    <li class="meta-json">
      <span class="note"><%= link_to (t "rejected.get_json_data"), petition_path(petition, :json) %></span>
      <%= render "about_petition_data" %>
    </li>
  </ul>
<% end %>
