<h1 class="page-title"><%= t "petitions.start.title" %></h1>

<%= render 'parliament_dissolution_warning' %>

<form method="get" action="/petitions/check_results">
  <div class="form-group">
    <label for="action" class="form-label"><%= t "petitions.start.petition" %></label>
    <textarea name="q" id="q" class="form-control" data-max-length="80" rows="3"><%= @new_petition.action %></textarea>
    <p class="character-count"><%= t "generic.character_limit", limit:80 %></p>
    <%= render 'petitions/action_help' %>
  </div>

  <section class="create-warning" aria-labelledby="just-so-you-know-heading">
    <h2 id="just-so-you-know-heading"><%= t "petitions.start.notice" %></h2>
    <span aria-hidden="true"><%= Site.minimum_number_of_sponsors %></span>
    <p><%= t "petitions.start.supporter_requirement", threshold: Site.minimum_number_of_sponsors %></p>
  </section>

  <input type="submit" value=<%= t "generic.continue" %> class="button" />
</form>
