<h1 class="page-title"><%= t "petitions.emails.subjects.petition_created", action: @petition.action %></h1>

<p><%= t "mail.published.will_be_published" %></p>

<p><%= t "mail.thanks" %> <br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>