<%= form.submit raw("&#9664; " ++ (t "generic.back")), name: "move_back", class: "back-page" %>
<%= form.hidden_field :action %>
<%= form.hidden_field :background %>
<%= form.hidden_field :additional_details %>
<h1 class="page-title"><%= t "petitions.sign.title_own" %></h1>
<h2 class="page-subtitle"><%= petition.action %></h2>
<%= render "petitions/create/error_summary", form: form %>
<%= form.submit "Confirm", name: "move_next", class: "button", tabindex: increment %>
<div class="secondary">
  <p><%= t "petitions.sign.name_visible" %></p>
  <p><%= t "petitions.sign.other_hidden" %></p>
</div>
