<%= form.submit raw("&#9664; " ++ (t "generic.back")), name: "move_back", class: "back-page" %>

<%= form.hidden_field :action %>
<%= form.hidden_field :background %>
<%= form.hidden_field :additional_details %>

<h1 class="page-title"><%= t "petitions.sign.title_own" %></h1>
<h2 class="page-subtitle"><%= petition.action %></h2>

<%= render "petitions/create/error_summary", form: form %>

<%= form_row for: [petition, :uk_citizenship], class: "uk-citizen" do %>
  <span class="form-label">
    <%= t "petitions.sign.criteria" %>
  </span>
  <%= error_messages_for_field petition, :uk_citizenship %>
  <div class="multiple-choice">
    <%= form.check_box :uk_citizenship, tabindex: increment %>
    <%= form.label :uk_citizenship, (t "petitions.sign.criteria_confirm") %>
  </div>
<% end %>

<%= form_row for: [petition, :name] do %>
  <%= form.label :name, (t "generic.name"), class: "form-label" %>
  <%= error_messages_for_field petition, :name %>
  <%= form.text_field :name, tabindex: increment, maxlength: 255, size: nil, class: "form-control" %>
  <span class="form-hint"><%= t "petitions.sign.full_name_required" %></span>
<% end %>

<%= form_row for: [petition, :email] do %>
  <%= form.label :email, (t "generic.email_address"), class: "form-label" %>
  <%= error_messages_for_field petition, :email %>
  <%= form.text_field :email, type: "email", tabindex: increment, class: "form-control" %>
<% end %>

<%= form_row for: [petition, :location_code] do %>
  <%= form.label :location_code, (t "generic.location"), class: "form-label" %>
  <%= error_messages_for_field petition, :location_code %>
  <%= form.select :location_code, countries_for_select, {}, tabindex: increment, class: "form-control" %>
<% end %>

<%= form_row for: [petition, :postcode] do %>
  <%= form.label :postcode,(t "generic.postcode"),  class: "form-label" %>
  <%= error_messages_for_field petition, :postcode %>
  <%= form.text_field :postcode, tabindex: increment, class: "form-control small" %>
<% end %>

<%= form_row for: [petition, :notify_by_email], class: "notify-by-email" do %>
  <div class="multiple-choice">
    <%= form.check_box :notify_by_email, tabindex: increment %>
    <%= form.label :notify_by_email, (t "petitions.sign.email_updates") %>
  </div>
<% end %>

<%= form.submit (t "generic.continue"), name: "move_next", class: "button", tabindex: increment %>

<div class="secondary">
  <p><%= t "petitions.sign.name_visible" %></p>
  <p><%= t "petitions.sign.other_hidden" %></p>
</div>
