<%= link_to check_results_petitions_path(q: petition.action), class: "back-page" do %>
  &#9664; <%= t "generic.back" %>
<% end %>

<h1 class="page-title"><%= t "petitions.start.title" %></h1>

<p class="form-hint petition-standards"><%= t "petitions.start.read_standards"%> <%= link_to (t "petitions.start.standards"), help_url(anchor: "standards") %>.</p>

<%= render "petitions/create/error_summary", form: form %>

<%= form_row for: [petition, :action] do %>
  <%= form.label :action, (t "petitions.start.petition") , class: "form-label" %>
  <%= error_messages_for_field petition, :action %>
  <%= form.text_area :action, tabindex: increment, rows: 3, data: { max_length: 80 }, class: "form-control" %>
  <p class="character-count"><%= t "generic.character_limit" %></p>
  <%= render "petitions/action_help" %>
<% end %>

<%= form_row for: [petition, :background] do %>
  <%= form.label :background, (t "petitions.start.background"), class: "form-label" %>
  <%= error_messages_for_field petition, :background %>
  <%= form.text_area :background, tabindex: increment, rows: 5, data: { max_length: 300 }, class: "form-control" %>
  <p class="character-count"><%= t "generic.character_limit", limit:300 %></p>
  <details class="form-group-help">
    <summary><span class="summary"><%= t "petitions.start.background_help"%></span></summary>
    <div class="panel-indent">
      <p><%= t "petitions.start.background_help_explanation"%></p>
      <p><%= t "petitions.start.background_help_reminder"%></p>
    </div>
  </details>
<% end %>

<%= form_row for: [petition, :additional_details] do %>
  <%= form.label :additional_details, class: "form-label" do %>
    <%= t "petitions.start.additional_details"%>
    <span class="form-hint"><%= t "petitions.start.optional_details"%></span>
  <% end %>
  <%= error_messages_for_field petition, :additional_details %>
  <%= form.text_area :additional_details, tabindex: increment, rows: 7, data: { max_length: 500 }, class: "form-control" %>
  <p class="character-count"><%= t "generic.character_limit", limit:500 %></p>
<% end %>

<%= form.submit (t "petitions.start.preview_petition"), name: "move_next", class: "button", tabindex: increment %>
