<%= form.submit raw("&#9664; " ++ (t "generic.back")), name: "move_back", class: "back-page" %>

<%= form.hidden_field :action %>
<%= form.hidden_field :background %>
<%= form.hidden_field :additional_details %>

<h1 class="page-title"><%= t "petitions.finalize.title" %></h1>

<div class="panel-indent">
  <h1><%= petition.action %></h1>
  <div><%= auto_link(simple_format(h(petition.background)), html: { rel: "nofollow" }) %></div>
  <% if petition.additional_details.present? %>
    <details>
      <summary><span class="summary"><%= t "petitions.finalize.more_details" %></span></summary>
      <div><%= auto_link(simple_format(h(petition.additional_details)), html: { rel: "nofollow" }) %></div>
    </details>
  <% end %>
</div>

<%= form.submit (t "petitions.finalize.continue"), name: "move_next", class: "button", tabindex: increment %>

<%= form.submit (t "generic.back_and_make_changes"), name: "move_back", class: "button-secondary", tabindex: increment %>

<p class="secondary"><%= t "petitions.finalize.warning_no_changes" %></p>
<p class="secondary"><%= t "petitions.finalize.warning_personal_info" %></p>
<p class="secondary"><%= t "petitions.finalize.warning_no_removal" %></p>
