<% explanation_petitions do |actioned| %>
  <section aria-labelledby="response-threshold-heading" id="petitions-with-response">
    <% if actioned[:with_response][:count].zero? %>
      <div class="threshold-panel threshold-panel-response">
        <h2 id="response-threshold-heading"><%= Site.formatted_threshold_for_response %> <%= t "petitions.sign.signatures" %></h2>
        <p><%= t "petitions.response_threshold", threshold: Site.formatted_threshold_for_response %></p>
      </div>
    <% else %>
      <%= link_to( petitions_path(state: :with_response), class: "threshold-panel threshold-panel-response" ) do %>
        <h2 id="response-threshold-heading"><%= Site.formatted_threshold_for_response %></h2>
        <p><%= t "petitions.response_threshold", threshold: Site.formatted_threshold_for_response %></p>
      <% end %>
    <% end %>
    <div class="section-panel-borderless">
      <%= render "pages/home/responded_petitions", actioned: actioned %>
    </div>
  </section>
<% end %>
