<section class="partiolaisaloite-introduction">
    <div class="landing-page-picture">
        <img src="/landing.jpg" class="landing-banner" alt=""/>
    </div>
    <p><%= t"petitions.welcome" %><a href="partiolaisaloite@partio.fi">partiolaisaloite@partio.fi</a>
    </p>
    <h2><%= t "petitions.page_titles.what_is" %></h2>
    <p><%= t "petitions.definition" %></p>
    <h2><%= t "petitions.page_titles.how_to_do" %></h2>
    <p><%= t "petitions.start_instruction" %><a href="https://osallistu.partio.fi/help?locale=fi-FI">https://osallistu.partio.fi/help?locale=fi-FI</a>
    </p>
    <h2><%= t "petitions.page_titles.how_supported" %></h2>
    <p><%= t "petitions.support_instruction" %>
    <a href="https://osallistu.partio.fi/help?locale=fi-FI">https://osallistu.partio.fi/help?locale=fi-FI</a>
    </p>
</section>
