<section class="partiolaisaloite-introduction">
    <div class="landing-page-picture">
        <img src="/landing.jpg" class="landing-banner" alt=""/>
        <div class="landing-page-picture-text"><%= t "petitions.image_photographer" %></div>
    </div>
    <p class="welcome-message"><%= t "petitions.welcome_1" %></p>
    <p class="welcome-message"><%= t"petitions.welcome_2" %><a href="partiolaisaloite@partio.fi">partiolaisaloite@partio.fi</a>
    </p>
    <h2><%= t "petitions.page_titles.what_is" %></h2>
    <p><%= t "petitions.definition_1" %></p>
    <p><%= t "petitions.definition_2" %></p>
    <h2><%= t "petitions.page_titles.how_to_create" %></h2>
    <p><%= t "petitions.create_instruction_1" %></p>
    <p><%= t "petitions.create_instruction_2" %></p>
    <p><%= t "petitions.create_instruction_3" %><a href="<%= help_path %>"><span><%= t('navigation.help') %></span></a></p>
    <h2><%= t "petitions.page_titles.how_to_support" %></h2>
    <p><%= t "petitions.support_instruction_1" %></p>
    <p><%= t "petitions.support_instruction_2" %></p>
    <p><%= t "petitions.support_instruction_3" %><a href="<%= help_path %>"><span><%= t('navigation.help') %></span></a></p>
</section>
