<section class="partiolaisaloite-introduction">
    <div class="landing-page-picture">
        <img src="/landing.jpg" class="landing-banner" alt=""/>
    </div>
    <p class="welcome-message"><%= t "petitions.welcome_1" %></p>
    <p class="welcome-message"><%= t"petitions.welcome_2" %><a href="partiolaisaloite@partio.fi">partiolaisaloite@partio.fi</a>
    </p>
    <h2><%= t "petitions.page_titles.what_is" %></h2>
    <p><%= t "petitions.definition_1" %></p>
    <p><%= t "petitions.definition_2" %></p>
    <h2><%= t "petitions.page_titles.how_to_do" %></h2>
    <p><%= t "petitions.start_instruction_1" %></p>
    <p><%= t "petitions.start_instruction_2" %></p>
    <p><%= t "petitions.start_instruction_3" %><a href="https://osallistu.partio.fi/help?locale=fi-FI">https://osallistu.partio.fi/help?locale=fi-FI</a>
    </p>
    <h2><%= t "petitions.page_titles.how_supported" %></h2>
    <p><%= t "petitions.support_instruction_1" %></p>
    <p><%= t "petitions.support_instruction_2" %></p>
    <p><%= t "petitions.support_instruction_3" %><a href="https://osallistu.partio.fi/help?locale=fi-FI">https://osallistu.partio.fi/help?locale=fi-FI</a></p>
</section>
