<% if no_petitions_yet? %>
  <div class="section-panel-borderless no-petitions-yet">
    <p class="lede"><%= t "petitions.ad" %></p>
  </div>
<% end %>

<%= render "pages/home/actioned_petitions" %>

<% unless no_petitions_yet? %>
  <%= render "pages/home/search_petitions", search_path: petitions_path %>
  <%= render "pages/home/trending_petitions" %>
<% end %>

<%= render "pages/home/explanation_petitions" %>

<section class="section-panel start-petition" aria-labelledby="start-a-petition-heading">
  <h2 id="start-a-petition-heading"><%= t "petitions.start_prompt" %></h2>
  <p><%= t "petitions.criteria" %></p>
  <% if current_user %>
    <%= link_to t("petitions.start_prompt"), check_petitions_path, :class => 'button' %>
  <% else %>
    <p><%= t "petitions.login_to_start" %></p>
  <% end %>
</section>
