<p><small><%= t "mail.because.created" %> “<%= @petition.action %>”.</small></p>
<p><small><%= t "mail.unsubscribe" %> <%= link_to nil, unsubscribe_archived_signature_url(@signature, token: @signature.unsubscribe_token) %></small></p>
<hr>

<p><%= t "mail.greeting" %> <%= @signature.name %>,</p>

<p><%= t "mail.sponsor.recently_created" %>  “<%= @petition.action %>”:<br />
<%= link_to nil, archived_petition_url(@petition) %></p>

<%= markdown_to_html(@email.body) %>

<p><%= t "mail.thanks" %> <br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>

<hr>
<p><small><%= t "mail.because.created" %> “<%= @petition.action %>”.</small></p>
<p><small><%= t "mail.unsubscribe" %> <%= link_to nil, unsubscribe_archived_signature_url(@signature, token: @signature.unsubscribe_token) %></small></p>
