<p><small><%= t "mail.because.signed" %> “<%= @petition.action %>”.</small></p>
<p><small><%= t "mail.unsubscribe" %> <%= link_to nil, unsubscribe_archived_signature_url(@signature, token: @signature.unsubscribe_token) %></small></p>
<hr>

<p><%= t "mail.greeting" %> <%= @signature.name %>,</p>

<% if @debate_outcome.debated? %>
<p><%= t "mail.debated.signed" %> “<%= @petition.action %>”</p>
<% if @debate_outcome.overview? %>

<blockquote><%= auto_link(simple_format(h(@debate_outcome.overview))) %></blockquote>
<% end %>
<% if @debate_outcome.video_url? %>

<p><%= t "mail.debated.watch" %>  <%= auto_link(@debate_outcome.video_url) %></p>
<% end %>
<% if @debate_outcome.transcript_url? %>

<p><%= t "mail.debated.transcript" %>  <%= auto_link(@debate_outcome.transcript_url) %></p>
<% end %>
<% if @debate_outcome.debate_pack_url? %>

<p><%= t "mail.debated.transcript" %>  <%= auto_link(@debate_outcome.debate_pack_url) %></p>
<% end %>

<p><%= t "mail.debated.petition" %> <%= link_to nil, archived_petition_url(@petition) %></p>
<% else %>
<p><%= t "mail.debated.no_debate_signed" %>  “<%= @petition.action %>”</p>
<% if @debate_outcome.overview? %>

<blockquote><%= auto_link(simple_format(h(@debate_outcome.overview))) %></blockquote>
<% end %>

<p><%= t "mail.debated.petition" %> <%= link_to nil, archived_petition_url(@petition) %></p>

<p><%= t "mail.more_about_committee" %> <%= link_to nil, help_url(anchor: "petitions-committee") %></p>
<% end %>

<p><%= t "mail.thanks" %> <br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>

<hr>
<p><small><%= t "mail.because.signed" %> “<%= @petition.action %>”.</small></p>
<p><small><%= t "mail.unsubscribe" %> <%= link_to nil, unsubscribe_archived_signature_url(@signature, token: @signature.unsubscribe_token) %></small></p>
