<p><small><%= t "mail.because.created" %> “<%= @petition.action %>”.</small></p>
<p><small><%= t "mail.unsubscribe" %> <%= link_to nil, unsubscribe_archived_signature_url(@signature, token: @signature.unsubscribe_token) %></small></p>
<hr>

<p><%= t "mail.greeting" %> <%= @signature.name %>,</p>

<p><%= t "mail.response.created" %>  “<%= link_to @petition.action, archived_petition_url(@petition) %>”.</p>

<p><%= t "mail.response.response" %> </p>

<blockquote><%= auto_link(simple_format(h(@government_response.summary))) %></blockquote>

<blockquote><%= auto_link(simple_format(h(@government_response.details))) %></blockquote>

<p><%= t "mail.response.view_online" %> </p>

<p><%= link_to nil, archived_petition_url(@petition, reveal_response: "yes") %></p>

<% if @petition.signature_count < @parliament.threshold_for_debate %>
<p><%#= t "mail.response.action", threshold: @parliament.formatted_threshold_for_debate %></p>
<% else %>
<p><%= t "mail.response.consider_debate", threshold: @parliament.formatted_threshold_for_debate %></p>
<% end %>

<p><%= t "mail.about_committee" %>  <%= link_to nil, help_url(anchor: 'petitions-committee') %></p>

<p><%= t "mail.thanks" %> <br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>

<hr>
<p><small><%= t "mail.because.created" %> “<%= @petition.action %>”.</small></p>
<p><small><%= t "mail.unsubscribe" %> <%= link_to nil, unsubscribe_archived_signature_url(@signature, token: @signature.unsubscribe_token) %></small></p>
