<% if @signature.already_unsubscribed? %>
  <h1><%= t "unsubscribe.already_unsubscribed_title"%></h1>
  <p><%= t "unsubscribe.already_unsubscribed"%></p>
<% elsif @signature.invalid_unsubscribe_token? %>
  <h1><%= t "unsubscribe.failed_title"%></h1>
  <p><%= t "unsubscribe.failed"%></p>
<% else %>
  <h1><%= t "unsubscribe.success_title"%></h1>
  <p><%= t "unsubscribe.success"%></p>
<% end %>

<%= link_to (t "unsubscribe.return_home"), home_path %>

