<h1 class="page-title page-title-with-icon">
  <span class="icon icon-confirmation-tick"></span>
  <%= t "signed.thanks"%>
</h1>

<p><%= t "signed.sponsor_sign"%></p>
<h2><%= t "signed.what_next"%></h2>
<p><%= t "signed.signatures_required", threshold: Site.minimum_number_of_sponsors %></p>
<p><%= t "signed.email_notice"%></p>
