<%= cache_for :home_page do %>
  <h1 class="visuallyhidden"><%= t "page_titles.default" %></h1>

  <% if false && Parliament.dissolved? %>
    <%= render 'pages/home/dissolved' %>
  <% elsif false && Parliament.dissolution_announced? %>
    <%= render 'pages/home/dissolution_announced' %>
  <% else %>
    <%= render 'pages/home/opened' %>
  <% end %>
<% end %>
