<p><%= t "mail.greeting"%> <%= @petition.creator.name %>,</p>

<p><%= t"mail.because.supported", sponsor: @sponsor.name, petition: @petition.action %></p>


<% if @sponsor_count == 1 %>
    <p><%= t"mail.sponsor.supporters.one", count: @sponsor_count, threshold: Site.threshold_for_moderation%></p>
<% else %>
    <p><%= t"mail.sponsor.supporters.other", count: @sponsor_count, threshold: Site.threshold_for_moderation%></p>
<% end %>


<p><%= t "mail.sponsor.moderation_info" %><br />
<%= link_to nil, help_url(anchor: 'standards') %></p>

<p><%= t "mail.thanks"%><br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>
