<p><%= t "mail.greeting"%> <%= @petition.creator.name %>,</p>

<p><%= t"mail.nearly_ready"%></p>

<p><%= t"mail.supported", sponsor: @sponsor.name, petition: @petition.action %></p>

<% if christmas_period? %>
<p><%= t "mail.checking.christmas", count: @sponsor_count %></p>
<% elsif easter_period? %>
<p><%= t "mail.checking.easter", count: @sponsor_count %></p>
<% else %>
<p><%= t "mail.checking.default", count: @sponsor_count %></p>
<% end %>

<p><%= t "mail.moderation_info" %><br />
<%= link_to nil, help_url(anchor: 'standards') %></p>

<p><%= t "mail.thanks"%><br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>
