<footer id="footer" role="contentinfo">
  <div class="wrapper">
    <ul id="footer_nav">
      <li><%= link_to t("navigation.home"), home_path %></li>
      <li><%= link_to t("navigation.all_petitions"), petitions_path %></li>
      <li><%= link_to t("navigation.start_petition"), check_petitions_path %></li>
      <li><%= link_to t("navigation.help"), help_path %></li>
      <li><%= link_to t("navigation.privacy"), privacy_path %></li>
      <li><%= link_to t("navigation.feedback"), feedback_path %></li>
    </ul>
  </div>
</footer>
