<header role="banner" id="global-header">
  <div class="wrapper header-wrapper">
    <% if home_page? %>
      <span class="proposition">
        <img src="/partio_logo_cmyk_valkoinen.png" style="height: 34px;" /> <span class="header-title"><%= t "page_titles.header_title" %></span>
      </span>
    <% else %>
      <%= link_to(home_path, :title => (t "navigation.to_home"), :tabindex => 1, :class => 'proposition') do %>
        <img src="/partio_logo_cmyk_valkoinen.png" style="height: 34px;" /> <%= t "page_titles.header_title" %>
      <% end %>
    <% end %>
    <%= render partial: 'application/login' %>
    <%= render partial: 'application/language_selector' %>
  </div>
</header>
