<% # set tab index to start at 5
 increment(5) %>

<div class="text-page">

<h1 class="page-title"><%= t "feedback.page_title" %></h1>

<h2><%= t "generic.feedback"%></h2>

<%= form_for @feedback, url: feedback_path, html: {class: "wizard_form new_petition_form"} do |f| %>

  <%= form_row for: [@feedback, :comment] do %>
    <%= f.label :comment, (t "generic.comments"), class: "form-label" %>
    <%= error_messages_for_field @feedback, :comment %>
    <%= f.text_area :comment, tabindex: increment, class: "form-control" %>
  <% end %>

  <%= form_row for: [@feedback, :petition_link_or_title] do %>
    <%= f.label :petition_link_or_title, class: "form-label" do %>
      <%= t "feedback.petition_link/title"%> <span class="optional"><%= t "generic.optional"%></span>
    <% end %>
    <%= error_messages_for_field @feedback, :petition_link_or_title %>
    <%= f.text_field :petition_link_or_title, tabindex: increment, class: "form-control" %>
  <% end %>

  <h3><%= t "feedback.reply_wanted_question"%></h3>

  <%= form_row for: [@feedback, :email] do %>
    <%= f.label :email, (t "generic.email_address"), class: "form-label" %>
    <%= error_messages_for_field @feedback, :email %>
    <%= f.text_field :email, type: "email", tabindex: increment, class: "form-control" %>
  <% end %>

  <%= submit_tag (t "feedback.send"), class: "button", tabindex: increment %>

  <section class="inline-terms">
    <p><%= t "feedback.terms.email_only_reply"%></p>
    <p><%= t "feedback.terms.no_forwarding"%></p>
  </section>

<h2><%= t "feedback.contact"%></h2>

<h3><%= t "generic.email"%></h3>

<p><%= t "feedback.email.direction_html", href:(link_to (t "feedback.email.recipient"), help_url(anchor: 'petitions-committee'))%></p>

<p><%= t "feedback.email.help"%></p>

<p><%= t "generic.email"%>: <a href="mailto:petitionscommittee@parliament.uk"><%= t "feedback.email.address"%></a></p>

<h3><%= t "generic.phone"%></h3>

<p><%= t "feedback.phone.info"%></p>

<p><%= t "feedback.phone.help"%></p>

<ul>
  <li><%= t "generic.phone"%>: <a href=<% "tel:" + (t "feedback.phone.number")%>><%= t "feedback.phone.number"%></a></li>
  <li><%= t "feedback.phone.reception_times"%></li>
</ul>

</div>

<% end -%>
